<h4 class="event-title"><%= event.name %></h4>
<% if event.approval_rating == 0 %>
  <%= link_to 'Approve', :controller => "events", :action => "approve", :id => event.id %>
<% else %>
  <%= link_to 'Decline', :controller => "events", :action => "decline", :id => event.id %>
<% end %>