<div class="container" id="approval">
	<div id="header">
		<h1>Teudu Moderator</h1>
		<h2>Tuesday, November 29, 2011</h2>
	</div>

	<ul id="sorter">
		<li>View:</li>
		<li>All Events</li>
		<li>New Events</li>
		<li>Edited Events</li>
		<li>Visual View</li>
	</ul>

	<!-- <ul id="events">
		<li>
			<img src="image.png" alt="" />
			<div class="leftBox">
				<h1>Event Title</h1>
				<p>Event Description</p>
				<h2>Time and Location</h2>
			</div>
			<div class="rightBox">
				<button>Approve</button>
				<button>Decline</button>
				<textarea></textarea>
			</div>
		</li>

		<li>
			<img src="image.png" alt="" />
			<div class="leftBox">
				<h1>Event Title</h1>
				<p>Event Description</p>
				<h2>Time and Location</h2>
			</div>
			<div class="rightBox">
				<button>Approve</button>
				<button>Decline</button>
				<textarea></textarea>
			</div>
		</li>

		<li>
			<img src="image.png" alt="" />
			<div class="leftBox">
				<h1>Event Title</h1>
				<p>Event Description</p>
				<h2>Time and Location</h2>
			</div>
			<div class="rightBox">
				<button>Approve</button>
				<button>Decline</button>
				<textarea></textarea>
			</div>
		</li>
	</ul> -->

	<%= render :partial => 'approval/event' %>
</div>