/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; z-index: 100;
		top: 0; left: 0;
		height: 100%; width: 100%;
		background: #000; background: rgba(0,0,0,.8);
		display: none;
	}
	
	.reveal-modal {
		visibility: hidden;
		position: absolute;
		top: 90px; left: 22%;
		min-height: 460px; width: 700px;
		background: #CCC url('../images/bg-noise.png');
		border: 1px solid black;
		color: white;
		z-index: 101;
		
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
		/*.reveal-modal label{
			display: none;
		}*/