/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; z-index: 100;
		top: 0; left: 0;
		height: 100%; width: 100%;
		background: #000; background: rgba(0,0,0,.8);
		display: none;
	}
	
	.reveal-modal {
		visibility: hidden;
		position: absolute;
		top: 90px; left: 22%;
		width: 700px;
		background: #CCC url('../img/bg-noise.png');
		border: 1px solid black;
		color: white;
		z-index: 101;
		
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
		
	/*	=============================================
		CUSTOM VARIATION - Harold Kim
		============================================= */
	
	.reveal-modal .m-topbar {
		font-size: 0.8em; font-weight: bold;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		padding: 5px 8px;
		text-shadow: rgba(0,0,0,0.5) 0em 2px;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a20000), to(#680000)); 
		background: -moz-linear-gradient(0% 100% 90deg,#680000, #a20000);
	}
	
	#create_event .m-topbar {
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#14ac00), to(#086d00)); 
	}
	
	.reveal-modal .m-flyer, .reveal-modal .m-flyer-default {
		position: absolute;
		top: 50px; left: -40px;
		width: 200px;
		background: black;
		border: 1px solid black;
	}
	
	.reveal-modal .m-flyer-default {
		height: 300px;
		background: url('../img/default-flyer.png');
	}
	
	.reveal-modal #m-flyer-overlay {
		display: block;
		background: rgba(0,0,0,0.5); color: white;
		margin-top: 170px; padding: 10px;
		min-height: 40px;
	}
	
	.reveal-modal .m-title {
		background: black;
		font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		padding: 15px;
		padding-left: 180px;
		padding-bottom: 30px;
		margin-bottom: 20px;
	}
	
	.reveal-modal .m-helptext {
		text-shadow: none;
		font-size: 11px;
		float: right;
		font-weight: normal;
	}
	
	.reveal-modal .m-details {
		font-size: 0.8em;
		color: #444;
		margin-left: 185px;
		padding-bottom: 25px;
	}
	
	.reveal-modal #event_submit {
		float: right;
	}
	
	.reveal-modal h1, .reveal-modal h2, .reveal-modal h3,
	.reveal-modal h4 {
		font-weight: normal;
	}
	
	.reveal-modal h1 				{ font-size: 1.6em; }
	.reveal-modal h2 				{ font-size: 0.9em; color: #bbb; }
	.reveal-modal h3 				{ width: 100px; float: left; font-weight: bold; }
	.reveal-modal .m-details p 		{ margin-left: 100px; }
	.reveal-modal .m-details div	{ margin-bottom: 8px; padding-right: 25px; }
	
	
	/*
		
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	*/
