/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; z-index: 100;
		top: 0; left: 0;
		height: 100%; width: 100%;
		background: #000; background: rgba(0,0,0,.8);
		display: none;
	}
	
	.reveal-modal {
		visibility: hidden;
		position: absolute;
		top: 90px; left: 22%;
		min-height: 460px; width: 700px;
		background: #CCC url('../img/bg-noise.png');
		border: 1px solid black;
		color: white;
		z-index: 101;
		
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
		.reveal-modal label{
			display: none;
		}
		
	/*	=============================================
		CUSTOM VARIATION - Harold Kim
		============================================= */
	
	.reveal-modal .m-topbar {
		font-size: 0.8em; font-weight: bold;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		padding: 8px;
		text-shadow: rgba(0,0,0,0.5) 0em 2px;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a20000), to(#680000)); 
		background: -moz-linear-gradient(0% 100% 90deg,#680000, #a20000);
	}
	
	#create_event .m-topbar {
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#14ac00), to(#086d00)); 
	}
	
	/* defines the sidebar in the modal */
	.reveal-modal .m-sidebar {
		position: absolute;
		top: 50px; left: -40px;
		width: 200px;
	}
	
	/* Flyers in the Reveal Modal */
	.reveal-modal .m-flyer, .reveal-modal .m-flyer-preview {
		width: 200px;
		margin-bottom: 20px;
		border: 1px solid black;
		background: black;
	}
	
	/* Flyer PREVIEWS in the Reveal Modal (when EDITING) */
	.reveal-modal .m-flyer-preview {
		min-height: 300px;
		background: url('../img/default-flyer.png');
	}
	
	/* Buttons in the Reveal Modal Sidebar */
	.reveal-modal .m-sidebar button {
		float: right; clear: both;
		text-align: left;
		width: 120px; height: 25px;
		margin-bottom: 7px;
	}
	
	.reveal-modal #m-flyer-overlay {
		display: block;
		background: rgba(0,0,0,0.5); color: white;
		font-size: 1.1em;
		margin-top: 170px; padding: 10px;
		min-height: 40px;
	}
	
	/* The Change/Remove Flyer Buttons */
	.reveal-modal .m-flyer-buttons {
		margin-top: 250px;
		width: 150px; float: left;
	}
	
	.reveal-modal .m-title {
		background: black;
		font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		padding: 15px;
		padding-left: 180px;
		padding-bottom: 30px;
		margin-bottom: 20px;
	}
	
	.reveal-modal .m-title input[type="text"] {
		width: 450px;
		border: 1px solid #AAA; color: #888;
		padding: 7px; margin-top: 8px; margin-bottom: 8px;
		font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCC), to(#FFF)); 
		font-size: 16px; 
	}
	
	.reveal-modal .m-helptext {
		text-shadow: none;
		font-size: 11px;
		float: right;
		font-weight: normal;
	}
	
	/* Details, like Time/Location/Description */
	.reveal-modal .m-details {
		position: relative; left: 185px;
		width: 515px;
		font-size: 0.8em;
		color: #444;
		padding-bottom: 25px;
	}
	
	.reveal-modal .m-details input, .reveal-modal .m-details textarea {
		width: 100%; padding: 6px;
		border: 1px solid #777;
		color: #444;
	}
	
	.reveal-modal #event_submit {
		float: right;
	}
	
	.reveal-modal h1, .reveal-modal h2, .reveal-modal h3,
	.reveal-modal h4 {
		font-weight: normal;
	}
	
	.reveal-modal h1 				{ font-size: 1.6em; }
	.reveal-modal h2 				{ font-size: 0.9em; color: #bbb; }
	.reveal-modal h3 				{ width: 100px; float: left; font-weight: bold; }
	.reveal-modal .m-details p 		{ margin-left: 100px; }
	.reveal-modal .m-details div	{ margin-bottom: 8px; padding-right: 35px; }
	
	.reveal-modal #e-cats	{
		margin-left: 100px;
	}
	
	.reveal-modal #e-cats li {
		display: inline-block; float:left;
		margin-right: 30px;
	}
	
	
	/*
		
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	*/
