@import url("reset.css");
@import url("reveal.css");
/* COLOR PALETTE

************************/
/* For IE and HTML5 */
header, footer, article, section, nav, menu { display: block;}
/*********/

body {
	background: #566;
	color: #111;
	font-family: 'Cabin', Arial, Georgia, serif;
	font-size: 1em;
	line-height: 1.5;
    vertical-align: baseline;
}

h1 {
	font-size: 2em;
}
a {
	color: #111;
	text-decoration: none;
	font-decoration: none;	
}

.header {
	background: #631515;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	float: left;
}

#logo {
	padding: 14px 14px 0 14px;
	float: left;
}

.nav {
	background-color: #222;
	margin-top: 60px;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	height: 29px;
}

.nav a {
	color: #fff;
	padding: 4px 10px;
	color: #fff;
	font-size: 0.8em;
	font-weight: bold;
}

.nav li:nth-child(1)	{ 
	margin-left: 10px; 
}

.nav li  {
	display: inline-block;
}
 
.nav li:hover, .nav li.select {
	background: #555;

	/* CSS 3 */
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#222), to(#555)); 
	background: -moz-linear-gradient(0% 90% 90deg,#555, #222); */
}

#topSearch {
	float: right; padding: 5px 10px;
	margin: 18px 18px 0 18px; width: 200px;
	font-size: 12px;
	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCC), to(#FFF));
	color: #888;
	border: 1px solid #333;
	
	/* CSS 3 */
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#about {
	float: right;
	margin-top:23px;
	margin-right: 1.5em;
	color: white;
	font-size: 0.7em;
}

#about_page h1 {
	color: #000;
}

#about_page h2 {
	color: #666;
}

.about-team {
	background: #000;
	overflow: auto;
}

.about-team li {
	border: 1px solid #222;
	float: left;
	width: 100px;
	margin: 10px;
}

button, input[type="submit"] {
	float: left;
	border: 1px solid #444;
	padding: 4px 8px;
	margin-top: 19px;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-shadow: rgba(255,255,255,0.5) 0em 1px;
	color:black;
	cursor: pointer;
	
	/* CSS 3 */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	background: -webkit-gradient(linear, 0% 0%, 0% 70%, from(#EEE), to(#999)); 
	background: -moz-linear-gradient(0% 70% 90deg,#999, #EEE);
}

button:hover, input[type="submit"]:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#EEE)); 
	background: -moz-linear-gradient(0% 100% 90deg,#EEE, #999);
}

#event_submit {
	margin-top: -2px;
}

/*	==============================================
	MAIN BODY
	============================================== */

.container {
	margin-top: 95px;
	margin-left: 15px;
}

.box {
	background: #111;
	margin: 10px 0px;
	border: 1px solid black;
	width: 200px;
	color: white;
	cursor: pointer;
}

.overlay {
	position: absolute;
	z-index: 6;
}

.box p, .box h3		{ padding: 10px; font-weight: normal; margin: 0; }
.box p				{ color: #ccc; font-size: 0.7em; padding-top: 2px; }
.box h3				{ padding-bottom: 0px; font-size: 0.9em; }



/*	=============================================
	OPACITY CHANGES
	============================================= */
	.box {-webkit-transition: all 0.3s;}
	.box.today {}
	.box.this_week {opacity: 0.85;}
	.box.in_two_weeks {opacity: 0.65;}
	.box.in_a_month {opacity: 0.25;}
	.box.hl {opacity: 1;}
	.box:hover	{ opacity: 1; -webkit-transition: all 0.3s; }


/*	=============================================
	REVEAL DROPDOWN
	============================================= */
	
	.reveal-modal .m-topbar {
		font-size: 0.8em; font-weight: bold;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		padding: 8px;
		text-shadow: rgba(0,0,0,0.5) 0em 2px;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a20000), to(#680000)); 
		background: -moz-linear-gradient(0% 100% 90deg,#680000, #a20000);
	}

	#create_event {
		padding-bottom: 40px;
	}
	
	#create_event .m-topbar {
		background: #086d00; 
	}
	
	/* defines the sidebar in the modal */
	.reveal-modal .m-sidebar {
		position: absolute;
		top: 50px; left: -40px;
		width: 200px;
	}

	/* Flyers in the Reveal Modal */
	.reveal-modal .m-flyer, .reveal-modal .m-flyer-preview {
		width: 200px;
		margin-bottom: 20px;
		border: 1px solid black;
		background: black;
	}

	/* Flyer PREVIEWS in the Reveal Modal (when EDITING) */
	.reveal-modal .m-flyer-preview {
		min-height: 300px;
		background: url('../images/default-flyer.png');
	}

	.reveal-modal .m-flyer-preview label {
		display: none;
	}
	
	/* Buttons in the Reveal Modal Sidebar */
	.reveal-modal .m-sidebar button {
		float: right; clear: both;
		text-align: left;
		width: 120px; height: 25px;
		margin-bottom: 7px;
	}
	
	.reveal-modal #m-flyer-overlay {
		display: block;
		background: rgba(0,0,0,0.5); color: white;
		font-size: 1.1em;
		margin-top: 170px; padding: 10px;
		min-height: 40px;
	}
	
	/* The Change/Remove Flyer Buttons */
	.reveal-modal .m-flyer-buttons {
		margin-top: 250px;
		width: 150px; float: left;
	}
	
	.reveal-modal .m-title {
		background: black;
		font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		padding: 15px;
		padding-left: 180px;
		padding-bottom: 30px;
		margin-bottom: 20px;
	}
	
	.reveal-modal .m-title input[type="text"] {
		width: 450px;
		border: 1px solid #AAA;
		padding: 7px; margin-top: 8px; margin-bottom: 8px;
		font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCC), to(#FFF)); 
		font-size: 16px; 
	}
	.reveal-modal input[type="file"] {
		position: absolute;
		top: 187px; left: 10px;
		color: white;
	}
	
	.reveal-modal .m-helptext {
		text-shadow: none;
		font-size: 11px;
		float: right;
		font-weight: normal;
	}
	
	/* Details, like Time/Location/Description */
	.reveal-modal .m-details {
		position: relative; left: 185px;
		width: 515px;
		font-size: 0.8em;
		color: #444;
		padding-bottom: 25px;
	}
	
	.reveal-modal .m-details input[type="text"], .reveal-modal .m-details textarea {
		width: 100%; padding: 6px;
		border: 1px solid #777;
		color: #444;
	}


	.reveal-modal .m-details .m-text-input .date_input {
		width: 46%;
		margin-right: 1em;
	}
	
	.reveal-modal #event_submit {
		float: right;
	}

	.reveal-modal .event_edit_btn {
		position: absolute;
		margin: 10px;
		bottom: 0;
	}
	
	.reveal-modal h1, .reveal-modal h2, .reveal-modal h3,
	.reveal-modal h4 {
		font-weight: normal;
	}
	
	.reveal-modal h1 				{ font-size: 1.6em; }
	.reveal-modal h2 				{ font-size: 0.9em; color: #bbb; }
	.reveal-modal h3 				{ width: 100px; float: left; font-weight: bold; }
	.reveal-modal .m-text-input h3 	{ margin-top: 6px; }
	.reveal-modal .m-details p 		{ margin-left: 100px; }
	.reveal-modal .m-details div	{ margin-bottom: 8px; padding-right: 35px; }
	
	.reveal-modal #e-cats	{
		margin-left: 100px;
	}
	
	.reveal-modal #e-cats li {
		display: inline-block; float:left;
		margin-right: 30px;
		position:relative;
	}
	label.event_flyer {
		display: none;
	}

	.cat-radio label {
		display: inline-block;
		width: 135px;
		margin: 5px 0;
		padding: 10px;
		cursor: pointer;
		background: #aaa;
		border: 1px solid #888;

		/* CSS 3 */
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}

	.error_message {
		color: white;
		background: #a20000;
		padding: 5px;
	}

	.related_events {
		float: right;
		margin: 0 10px;
	}

	.related_events li { float: right; margin-left: 10px;}

	.related_events li a {
		cursor: pointer;
	}

	.related_events .re_overlay {
		position: relative;
		top: -40px;
		padding: 2px 4px;
		width: 92px;
		display: block;
		background: rgba(0,0,0,0.5); color: white;
	}

	.related_events .re_overlay p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.cat-radio label:hover {
		border: 1px solid #444;
	}


	span.cat-stripes {
		float: left;
		display: block;
		height: 6px;
		width: 20%;
		margin: 0 4px;
		border-bottom: 6px solid red;
	}

	span.cat-stripes.c-arts			{ border-bottom: 6px solid purple; }
	span.cat-stripes.c-sports		{  border-bottom: 6px solid orange; }
	span.cat-stripes.c-professional	{  border-bottom: 6px solid red; }
	span.cat-stripes.c-greek		{  border-bottom: 6px solid yellow; }
	span.cat-stripes.c-cultural		{  border-bottom: 6px solid green; }
	span.cat-stripes.c-music		{  border-bottom: 6px solid blue; }
	span.cat-stripes.c-movies		{  border-bottom: 6px solid cyan; }
	span.cat-stripes.c-academic		{  border-bottom: 6px solid antiquewhite; }
	span.cat-stripes.c-social		{  border-bottom: 6px solid steelblue; }
	span.cat-stripes.c-service		{  border-bottom: 6px solid deeppink; }
	span.cat-stripes.c-all		{  border-bottom: 6px solid white; }

	a.c-arts			{ border-bottom: 3px solid purple; }, a.c-arts:hover .box { opacity: 1;}
	a.c-sports		{  border-bottom: 3px solid orange; }
	a.c-professional	{  border-bottom: 3px solid red; }
	a.c-greek		{  border-bottom: 3px solid yellow; }
	a.c-cultural		{  border-bottom: 3px solid green; }
	a.c-music		{  border-bottom: 3px solid blue; }
	a.c-movies		{  border-bottom: 3px solid cyan; }
	a.c-academic		{  border-bottom: 3px solid antiquewhite; }
	a.c-social		{  border-bottom: 3px solid steelblue; }
	a.c-service		{  border-bottom: 3px solid deeppink; }
	a.all		{  border-bottom: 3px solid white; }

/*	==============================================
	Checkbox
	============================================== */


.jquery-safari-checkbox {display: inline;cursor: pointer; position:absolute;right:12px; top:30%;}
.jquery-safari-checkbox .mark {display: inline;}

.jquery-safari-checkbox img {vertical-align: middle; width: 16px; height: 16px;}
.jquery-safari-checkbox img{background: transparent url('../images/safari-checkbox.png' ) no-repeat;}

.jquery-safari-checkbox img{
	background-position: 0px 0px;
}
.jquery-safari-checkbox-hover img{
	background-position: -16px 0px;
}
.jquery-safari-checkbox-checked img{
	background-position: 0px -16px;
}
.jquery-safari-checkbox-checked .jquery-safari-checkbox-hover img {
	background-position: -16px -16px;
}

.jquery-safari-checkbox-disabled img{
	background-position: 0px -32px;
}
.jquery-safari-checkbox-checked .jquery-safari-checkbox-disabled img{
	background-position: 0px -48px;
}

.editable_fields {
	display: none;
}


#destroy_event_btn {
	position: relative;
	left: 120px; top: 159px; margin: 0;
	color: #fff;
	text-shadow: rgba(0,0,0,0.5) 0em 2px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a20000), to(#680000)); 
	background: -moz-linear-gradient(0% 100% 90deg,#680000, #a20000);
}

#destroy_event_btn:hover{
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#a20000), to(#680000)); 
	background: -moz-linear-gradient(0% 100% 180deg,#680000, #a20000);	
}

#admin{
	width: 700px;
	margin: 0 auto;
	margin-top: 150px;
	background-color: #cdd;
	padding: 20px;
}
	#admin h2{
		font-style: normal;
		font-size: 1.5em;
	}
	#admin table{
		width: 680px;
	}
	#admin th{
		text-align: left;
	}
	
form label.error{
	position: relative;
	margin-left: 185px;
	top: -50px;
}
	.m-details .error{
		margin: 0px;
		top: 0px;
	}