@import url("reset.css");
@import url("reveal.css");
/* COLOR PALETTE

************************/
/* For IE and HTML5 */
header, footer, article, section, nav, menu { display: block;}
/*********/

body {
	background: #333 url('../images/bg-noise.png') repeat top left;
	color: #111;
	font-family: 'Cabin', Arial, Georgia, serif;
	font-size: 1em;
	line-height: 1.5;
    vertical-align: baseline;
}

h1 {
	font-size: 2em;
}

.header {
	background: #631515;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	float: left;
}

#logo {
	padding: 14px 14px 0 14px;
	float: left;
}

.nav {
	background-color: #222;
	margin-top: 58px;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
}

.nav a {
	color: #fff;
	padding: 2px 10px;
}

.nav li:nth-child(1)	{ 
	margin-left: 10px; 
}

.nav li  {
	display: inline-block;
	margin: 3px 0px;
	color: #fff;
	font-size: 0.8em;
	font-weight: bold;
	
	/* CSS 3*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
 
.nav li:hover, .nav li.select {
	
	/* CSS 3 */
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#222), to(#555)); 
	background: -moz-linear-gradient(0% 90% 90deg,#555, #222);
}

.nav li.unique-li {
	
	/* CSS 3 */
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#5C0F22), to(#751D33)); 
	background: -moz-linear-gradient(0% 90% 90deg,#555, #222);
	margin-right: 15px;
}

#topSearch {
	float: right; padding: 5px 10px;
	margin: 18px 18px 0 18px; width: 200px;
	font-size: 12px;
	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCC), to(#FFF));
	color: #888;
	border: 1px solid #333;
	
	/* CSS 3 */
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#login {
	float: right;
	margin-top:23px;
	color: white;
	font-size: 0.7em;
}

button, input[type="submit"] {
	float: left;
	border: 1px solid #444;
	padding: 4px 8px;
	margin-top: 19px;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-shadow: rgba(255,255,255,0.5) 0em 1px;
	color:black;
	cursor: pointer;
	
	/* CSS 3 */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	background: -webkit-gradient(linear, 0% 0%, 0% 70%, from(#EEE), to(#999)); 
	background: -moz-linear-gradient(0% 70% 90deg,#999, #EEE);
}

button:hover, input[type="submit"]:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#EEE)); 
	background: -moz-linear-gradient(0% 100% 90deg,#EEE, #999);
}

#event_submit {
	margin-top: -2px;
}

#date_input {
	width: 50%;
	margin-right: 1em;
}

/*	==============================================
	MAIN BODY
	============================================== */

.container {
	margin-top: 95px;
	margin-left: 15px;
}

.box {
	background: #111;
	margin: 10px 0px;
	border: 1px solid black;
	width: 200px;
	color: white;
	cursor: pointer;
}

.overlay {
	position: absolute;
	z-index: 6;
}

.box p, .box h3		{ padding: 10px; font-weight: normal; margin: 0; }
.box p				{ color: #ccc; font-size: 0.7em; padding-top: 2px; }
.box h3				{ padding-bottom: 0px; font-size: 0.9em; }

.box				{ -webkit-transition: all 0.2s; }

.preview-indicator	{ position: absolute; margin: 10px; }

a {
	color: #111;
	text-decoration: none;
	font-decoration: none;	
}


	/*	=============================================
		REVEAL DROPDOWN - Harold Kim
		============================================= */
	
	.reveal-modal .m-topbar {
		font-size: 0.8em; font-weight: bold;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		padding: 8px;
		text-shadow: rgba(0,0,0,0.5) 0em 2px;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a20000), to(#680000)); 
		background: -moz-linear-gradient(0% 100% 90deg,#680000, #a20000);
	}
	
	#create_event .m-topbar {
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#14ac00), to(#086d00)); 
	}
	
	/* defines the sidebar in the modal */
	.reveal-modal .m-sidebar {
		position: absolute;
		top: 50px; left: -40px;
		width: 200px;
	}
	
	/* Flyers in the Reveal Modal */
	.reveal-modal .m-flyer, .reveal-modal .m-flyer-preview {
		width: 200px;
		margin-bottom: 20px;
		border: 1px solid black;
		background: black;
	}
	
	/* Flyer PREVIEWS in the Reveal Modal (when EDITING) */
	.reveal-modal .m-flyer-preview {
		min-height: 300px;
		background: url('../images/default-flyer.png');
	}
	
	/* Buttons in the Reveal Modal Sidebar */
	.reveal-modal .m-sidebar button {
		float: right; clear: both;
		text-align: left;
		width: 120px; height: 25px;
		margin-bottom: 7px;
	}
	
	.reveal-modal #m-flyer-overlay {
		display: block;
		background: rgba(0,0,0,0.5); color: white;
		font-size: 1.1em;
		margin-top: 170px; padding: 10px;
		min-height: 40px;
	}
	
	/* The Change/Remove Flyer Buttons */
	.reveal-modal .m-flyer-buttons {
		margin-top: 250px;
		width: 150px; float: left;
	}
	
	.reveal-modal .m-title {
		background: black;
		font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		padding: 15px;
		padding-left: 180px;
		padding-bottom: 30px;
		margin-bottom: 20px;
	}
	
	.reveal-modal .m-title input[type="text"] {
		width: 450px;
		border: 1px solid #AAA; color: #888;
		padding: 7px; margin-top: 8px; margin-bottom: 8px;
		font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCC), to(#FFF)); 
		font-size: 16px; 
	}
	
	.reveal-modal .m-helptext {
		text-shadow: none;
		font-size: 11px;
		float: right;
		font-weight: normal;
	}
	
	/* Details, like Time/Location/Description */
	.reveal-modal .m-details {
		position: relative; left: 185px;
		width: 515px;
		font-size: 0.8em;
		color: #444;
		padding-bottom: 25px;
	}
	
	.reveal-modal .m-details input[type="text"], .reveal-modal .m-details textarea {
		width: 100%; padding: 6px;
		border: 1px solid #777;
		color: #444;
	}
	
	.reveal-modal #event_submit {
		float: right;
	}
	
	.reveal-modal h1, .reveal-modal h2, .reveal-modal h3,
	.reveal-modal h4 {
		font-weight: normal;
	}
	
	.reveal-modal h1 				{ font-size: 1.6em; }
	.reveal-modal h2 				{ font-size: 0.9em; color: #bbb; }
	.reveal-modal h3 				{ width: 100px; float: left; font-weight: bold; }
	.reveal-modal .m-details p 		{ margin-left: 100px; }
	.reveal-modal .m-details div	{ margin-bottom: 8px; padding-right: 35px; }
	
	.reveal-modal #e-cats	{
		margin-left: 100px;
	}
	
	.reveal-modal #e-cats li {
		display: inline-block; float:left;
		margin-right: 30px;
	}

	.cat-radio label {
		display: block;
		width: 150px;
	}

	.cat-radio input {
		background: red;
	}
	
	
	/*
		
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	*/
