<div class="header">
	<a href="/"><img src="/images/logo.png" alt="" /></a>
	<ul id="hMenu">
		<li><%= link_to "Home", root_url %></li>
		<li><%= link_to "Create an event", new_event_path %></li>
		<li><%= link_to "Approval", approval_path %></li>
    <li class="right">
    <% if Event.awaiting_approval.length > 0 %>
      <% if Event.awaiting_approval.length == 1 %>    Hi Brian, there is an event awaiting approval.
      <% else %>
    Hi Brian, there are <%= Event.awaiting_approval.length %> events awaiting approval.
      <% end %>
    <% else %>
      All events have been approved.
    <% end %>
		</li>
	</ul>
</div>
