<div class="header">
	<a href="/"><img src="/images/logo.png" alt="" /></a>
	<ul id="hMenu">
		<li><a href="/">Home</a></li>
		<li><a href="/events/new">Create a New Event</a></li>
		<li><a href="/approval/">Approve Events</a></li>
		<li class="right">
			Hi Brian, there are 9 events awaiting approval.
		</li>
	</ul>
</div>
