<div id="about_page" class="reveal-modal">
	<div class="m-topbar">About Teudu</div>
	<h1>Teudu: Event Discovery for CMU</h1>

	<p>Teudu is awesome.  Real description incoming.</p>

	<div class="about-team">
	<ul>
		<li><p><strong>Miki Bentz</strong></p></li>
		<li><p><strong>Harold Kim</strong></p></li>
		<li><p><strong>Vivek Pai</strong></p></li>
		<li><p><strong>Amy Revak</strong></p></li>
		<li><p><strong>Brian Yee</strong></p></li>
	</ul>
	</div>
</div>