<div class="event">
<h4><%= event.name %></h4>
  <p class="location"><%= event.location %></p>
  <p class="time"><%= event.abbreviated_date %></p>
  <div style="background-image: url(<%= event.flyer %>);" class="thumbnail"></div>
</div>
