<div class="events-col-info">
  <div class="info-header"><h1>Teudu</h1></div>
  <div class="info-main">
    <h2 id="info-title">Title</h2>
    <p id="info-desc">Description</p>

    <p id="info-date">Date</p>
    <p id="info-location">Location</p>
  </div>
</div>
<div id="events-container">
  <div class="events-col-main">
  <% @events.each do |event| %>
    <%= render event %>
  <% end %>
  </div>
</div>
