<div id="events">
<% @count = 1 %>
<% @events.each do |event| %>
	<%= render event %>
	<% @count = @count + 1%>
<% end %>
</div>
<div class="pop_container"> 
		<div class="pop_desc"></div> 
</div>
<br/>
<br/>
<div id="create_event" class="reveal-modal">
	<%= render :partial=> 'form', :locals=>{:up=>false}%>
</div>
<div id="edit_event" class="reveal-modal">
	<div class="m-topbar">Editing an Event</div>
	<div>
		
	</div>
</div>
<%= render :partial=> 'my'%>