<div class="container">
	
	<div class="leftCol">
		<ul id="category-list" class="category-list">
			<li class="active">Hot Events</li>
			<% EventsHelper::all_categories.each do |c| %>
		    	<li><%= c[0] %></li>
		  	<% end %>
		</ul>

		<div class="events-col-info">
			<h2>Click an event to see details &rarr;</h2>
			<div class="info-main">
		    	<h2 id="info-title"></h2>
		
		    	<p id="info-date"></p>
		    	<p id="info-location"></p>
		
				<p id="info-desc"></p>
		  	</div>
		</div>
	</div>
	
	<div id="events-container">
		<% @events.each do |event| %>
			<%= render event %>
		<% end %>
	</div>

</div>