<div class="container">
	
	<ul class="category-list">
		<li class="active">Hot Events</li>
		<% EventsHelper::all_categories.each do |c| %>
	    	<li><%= c[0] %></li>
	  	<% end %>
	</ul>
	
	<div class="events-col-info">
		<div class="info-header"></div>
		<div class="info-main">
	    <h2 id="info-title"></h2>
	    <p id="info-desc"></p>

	    <p id="info-date"></p>
	    <p id="info-location"></p>
	  </div>
	</div>
	
	<div id="events-container">
		<% @events.each do |event| %>
			<%= render event %>
		<% end %>
	</div>

</div>