<div id="events">
<% @count = 1 %>
<% @events.each do |event| %>
	<%= render event %>
	<% @count = @count + 1%>
<% end %>
</div>
<div class="pop_container"> 
		<div class="pop_desc"></div> 
</div>
<br/>
<br/>
<%= render :partial=> 'form'%>