<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>


  <system.diagnostics>
    <trace>
      <listeners>
        <add name="BindableListener"
        type="KinectSpaceToWindowCoords.BindableTraceListener,KinectSpaceToWindowCoords" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="horBound" value="3"/>
    <add key="verBound" value="3"/>
    <add key="curScale" value="6"/>
    <add key="superMode" value="true"/>
    <add key="url" value="http://teudu.cmuis.org"/> <!--http://www.tinyurl.com/BoredCast1-->
    <add key="kinectHeight" value="54"/> <!--30--> <!--54-->
  </appSettings>

</configuration>