// Place all the styles related to the approval controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.container#approval {

	width: 900px;
	margin: 0 auto;
	
	> h1 {
		font-size: 25px;
		font-weight: bold; 
		margin-bottom: 15px; }
	
	ul#events {
		list-style-type: none;
		width: 900px; 
		margin: 0 auto;
		line-height: 1.3em;
		
		li {
			float: left; width: 430px;
			padding: 20px 0px;
			border-bottom: 1px dotted #888; 
			&:nth-child(odd) { margin-right: 20px; }
			img {
				float: left;
				max-height: 80px;
				margin-right: 15px; }
			div.leftBox { float: left; }
			div.rightBox { float: right; width: 80px; }
			
			h1 {
				font-weight: bold;
				font-size: 16px;
			}
		}
	}
}