// Place all the styles related to the approval controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
	list-style-type: none;
}

div#header {
	text-align: center;
	padding-bottom: 40px;
	font-family: 'Futura', sans-serif;
}

div#header h1 {
	letter-spacing: 8px;
	text-transform: uppercase;
	font-size: 21px;
	margin-bottom: 8px;
}

ul#sorter {
	width: 900px; margin: 0 auto;
	padding-bottom: 20px;
}

ul#sorter li {
	display: inline;
	padding: 3px 10px;
	background: #999;
	color: white;
}

ul#sorter li:first-child {
	background: none;
	color: black;
}

ul#events {
	width: 900px; margin: 0 auto;
}

ul#events li {
	float: left; width: 100%;
	padding: 20px 0px;
	border-bottom: 1px dashed #888;
}

ul#events li img {
	float: left;
	max-height: 150px;
	margin-right: 15px;
}

ul#events li div.leftBox { float: left; }
ul#events li div.rightBox { float: right; width: 200px; }