/**
 * Base styles for Teudu
 */

$animation_length: 0.5s;
$info_column_width: 300px;
$header_height: 120px;

body {
  background-color: #EEE;
  color: #111;  
  font-family: arial, sans-serif;
  font-size: 15px;
  line-height: 1em;
}

.header {
  height: $header_height;

  .category-list {
    margin-left: $info_column_width;
    padding-left: 20px;
    font-size: 2em;
    font-weight: bold;
    color: #CCC;
    overflow: hidden;
    line-height: 2;
    height: 70px;

    li {
      display: inline; 
    }

    .active {
      color: #111;
    }
  }
}

#a, #b, #c, #d, #e {
  line-height: 2em;
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: $animation_length;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
  
}

@-webkit-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
 
@-webkit-keyframes fade-in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
 
#a {-webkit-animation-delay: 0, 0;}
#b {-webkit-animation-delay: 0, $animation_length*0.2;}
#c {-webkit-animation-delay: 0, $animation_length*0.4;}
#d {-webkit-animation-delay: 0, $animation_length*0.6;}
#e {-webkit-animation-delay: 0, $animation_length*0.75;}

/* FORMS */
.field {
  label {
    display: inline-block;
    width: 8em;
    text-align: right;
    padding: 0.5em
  }

  input {
    display: inline-block;
  }
}

.form-focus {
  label {
    background: red;
  }

  .flag {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid red;   
  }
}

/*** BUTTON STYLES ***/
.cat-button {
  text-shadow: 0px 1px 0px #FFF;
  padding: 8px 12px;
  width: 110px;
  font-weight: bold;
  margin-bottom: 5px;
  border-left: 4px solid red;
  font-size: 12px;
  border-bottom: 1px solid #CCC;
  
  background-image: linear-gradient(bottom, rgb(240,240,240) 48%, rgb(247,244,247) 85%);
  background-image: -o-linear-gradient(bottom, rgb(240,240,240) 48%, rgb(247,244,247) 85%);
  background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 48%, rgb(247,244,247) 85%);
  background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 48%, rgb(247,244,247) 85%);
  background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 48%, rgb(247,244,247) 85%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.48, rgb(240,240,240)),
    color-stop(0.85, rgb(247,244,247))
  );
}

.cat-button:hover, input:checked {
  cursor: pointer;
  background: black;
  color: #FFF;
  text-shadow: 0px 1px 0px #888;
  
  background-image: linear-gradient(bottom, rgb(135,135,135) 48%, rgb(112,112,112) 85%);
  background-image: -o-linear-gradient(bottom, rgb(135,135,135) 48%, rgb(112,112,112) 85%);
  background-image: -moz-linear-gradient(bottom, rgb(135,135,135) 48%, rgb(112,112,112) 85%);
  background-image: -webkit-linear-gradient(bottom, rgb(135,135,135) 48%, rgb(112,112,112) 85%);
  background-image: -ms-linear-gradient(bottom, rgb(135,135,135) 48%, rgb(112,112,112) 85%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.48, rgb(135,135,135)),
    color-stop(0.85, rgb(112,112,112))
  );
}

.cat-button:active {
  border-left: 4px solid darkred;
}