/**
 * Base styles for the events controller
 *
 *  Necessary isotope styles for animation
 *= require base
 *= require isotope
 *
 * It's also necessary to import SCSS mixins and stuff.
 */
@mixin transition($property, $duration, $delay:0) {
  -webkit-transition: $property $duration $delay ease-in;
  -moz-transition: $property $duration $delay ease-in;
  -o-transition: $property $duration $delay ease-in;
  -ms-transition: $property $duration $delay ease-in;
  transition: $property $duration $delay ease-in;
}

$border_color: #CCC;

$event_width: 200px;
$event_height: 200px;

$event_caption_offset: -27px;

$event_expanded_zindex: 900;


$header_height: 120px;

$info_column_width: 300px;

.category-list {
	width: 280px;
	background: #DDD;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: -1px;
	border: 1px solid #BBB;
	height: 45px;
	overflow: hidden;
	z-index: 10;
	
	li {
		width: 256px;
		padding: 15px 12px;
		border-bottom: 1px dotted #888;
		&:hover {
			background: #888;
			color: white;
			text-shadow: 0px 1px 1px #000;
			cursor: pointer;
			&:after {
				content: '\0020\0020\2193'; } }
  	}

	&:active {
		overflow: visible;
	}
}

#events-container {
  margin: 0 auto;
  position: relative;
float: right;
}

#events {
  margin: 0 10px;
}

.events-col-info {
	width: 282px;
  background: rgba(0,0,0,0.25);
  position: absolute;
  margin-left: 2px solid $border_color;
  .info-header {
    margin-top: $header_height;
  }

  .info-main {
    color: #FFF;
    line-height: 1.5;
    padding: 0 1em;

    h2 {
      font-size: 2em;
      margin-bottom: 1em;
    }

    #info-desc {
      margin-bottom: 1em;
    }

    #info-date {
      font-weight: bold;
    }
  }
}

.events-col-main {
  padding-left: 20px;
  margin-left: $info_column_width;
}

.event {
  background: #222;
  color: #FFF;
  cursor: pointer;
  float: left;
  margin: 5px;
  overflow: hidden;
  position: relative;
  border: 1px solid #666;
  
  width: $event_width;
  height: $event_height;
  
  h4 {
    font-size: 1.5em;
    line-height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .thumbnail {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }

  .event-info, .edit-link {
    display: none;
  }
}

.event:hover {
  border: 1px solid #999;
  margin-bottom: 8px;
  margin-top: 2px;
}

.event:hover .edit-link {
 /* display: block; */
}


#new_event {
  position: relative;
}

/* CREATE AN EVENT */

.container#cEvent {
	
	width: 1000px;
	margin: 0 auto;

	h1 {
		font-size: 25px;
		font-weight: bold;
		border-bottom: 1px dotted #777;
		width: 450px; padding: 10px 0px 18px 0px;
		margin-bottom: 10px; }
		
	.form-info input {
		font-size: 16px;
		padding: 5px 10px;
		border: 1px solid #CCC;
		&:focus {
			background: #F0F0F0;
		}
	}
	
	.actions input {
		&:enabled {
			width: 150px;
			height: 30px;
			background: green;
			font-family: 'Helvetica Neue', Arial, sans-serif;
			color: white; font-size: 16px;
			font-weight: bold;
			float: right;
			border: 0px;
			-webkit-border-radius: 7px;
			box-shadow: 0px 2px 0px #222; }
	}
	
}

/*** BUTTON STYLES ***/
.cat-button {
  text-shadow: 0px 1px 0px #FFF;
  padding: 8px 12px;
  width: 110px;
  font-weight: bold;
  margin-bottom: 5px;
  border-left: 4px solid red;
  font-size: 12px;
  border-bottom: 1px solid #CCC;
  
  background-image: linear-gradient(bottom, rgb(240,240,240) 48%, rgb(247,244,247) 85%);
  background-image: -o-linear-gradient(bottom, rgb(240,240,240) 48%, rgb(247,244,247) 85%);
  background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 48%, rgb(247,244,247) 85%);
  background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 48%, rgb(247,244,247) 85%);
  background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 48%, rgb(247,244,247) 85%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.48, rgb(240,240,240)),
    color-stop(0.85, rgb(247,244,247))
  );
}

.cat-button:hover, input:checked {
  cursor: pointer;
  background: black;
  color: #FFF;
  text-shadow: 0px 1px 0px #888;
  
  background-image: linear-gradient(bottom, rgb(135,135,135) 48%, rgb(112,112,112) 85%);
  background-image: -o-linear-gradient(bottom, rgb(135,135,135) 48%, rgb(112,112,112) 85%);
  background-image: -moz-linear-gradient(bottom, rgb(135,135,135) 48%, rgb(112,112,112) 85%);
  background-image: -webkit-linear-gradient(bottom, rgb(135,135,135) 48%, rgb(112,112,112) 85%);
  background-image: -ms-linear-gradient(bottom, rgb(135,135,135) 48%, rgb(112,112,112) 85%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.48, rgb(135,135,135)),
    color-stop(0.85, rgb(112,112,112))
  );
}

.cat-button:active {
  border-left: 4px solid darkred;
}

/* FORMS */

.field {
  label {
    display: inline-block;
    width: 8em;
    text-align: right;
    padding: 0.5em
  }

  input {
    display: inline-block;
  }
}

.form-focus {
  label {
    background: red;
  }

  .flag {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid red;   
  }
}

.event-form {
	
	* { float: left; }
	
}

.event-form {
  fieldset.form-flyer {
    position: absolute;

    .fake-input {
      position: relative;
      text-align: center;
      background: #EDEDED;
      width: 150px;
      height: 200px;
    }

    label {
      position: absolute;
      text-align: center;
      bottom: 3em;
    }

    input {
      cursor: pointer;
      opacity: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }

  .cat-radio {
    display: inline;
  }

  .cat-check {
    // display: none;
  }

  fieldset.form-info {
    display: inline-block;
    width: 500px;
    margin-left: 175px;
  }
}