/**
 * Base styles for the events controller
 *
 *  Necessary isotope styles for animation
 *= require base
 *= require isotope
 *
 * It's also necessary to import SCSS mixins and stuff.
 */
@mixin transition($property, $duration, $delay:0) {
  -webkit-transition: $property $duration $delay ease-in;
  -moz-transition: $property $duration $delay ease-in;
  -o-transition: $property $duration $delay ease-in;
  -ms-transition: $property $duration $delay ease-in;
  transition: $property $duration $delay ease-in;
}

$border_color: #CCC;

$event_width: 200px;
$event_height: 200px;

$event_caption_offset: -27px;

$event_expanded_zindex: 900;


$header_height: 120px;

$info_column_width: 300px;

#events-container {
  margin: 0 auto;
  position: relative;
}

#events {
  margin: 0 10px;
}

.events-col-info {
  width: $info_column_width;
  background: rgba(0,0,0,0.25);
  position: fixed;
  height: 100%;
  top: 0;
  margin-left: 2px solid $border_color;
  .info-header {
    margin-top: $header_height;
  }

  .info-main {
    color: #FFF;

    h2 {
      font-size: 2em;
    }
  }
}

.events-col-main {
  padding-left: 20px;
  margin-left: $info_column_width;
}

.event {
  background: #222;
  color: #FFF;
  cursor: pointer;
  float: left;
  margin: 5px;
  overflow: hidden;
  position: relative;
  border: 1px solid #666;
  
  width: $event_width;
  height: $event_height;
  
  h4 {
    font-size: 1.5em;
    line-height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .thumbnail {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }

  .event-info, .edit-link {
    display: none;
  }
}

.event:hover {
  border: 1px solid #999;
  margin-bottom: 8px;
  margin-top: 2px;
}

.event:hover .edit-link {
 /* display: block; */
}


#new_event {
  position: relative;
}

.event-form {
  fieldset.form-flyer {
    position: absolute;

    .fake-input {
      position: relative;
      text-align: center;
      background: #EDEDED;
      width: 150px;
      height: 200px;
    }

    label {
      position: absolute;
      text-align: center;
      bottom: 3em;
    }

    input {
      cursor: pointer;
      opacity: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }

  .cat-radio {
    display: inline;
  }

  .cat-check {
    // display: none;
  }

  fieldset.form-info {
    display: inline-block;
    width: 500px;
    margin-left: 175px;
  }
}